<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
        <script type="text/javascript">
			function handleDrop(event, ui) {
                var droppedCar = ui.draggable;

                droppedCar.fadeOut('fast');
			}
		</script>
	</ui:define>
    
    <ui:define name="title">
        DragDrop - <span class="subitem">DataTable</span>
    </ui:define>

    <ui:define name="description">
        DragDrop components have special integration with data components. Drag the cars using the drag icon to the drop area.
    </ui:define>

    <ui:define name="implementation">
        
        <h:form id="carForm">
            <p:fieldset id="availableCarsField" legend="Available Cars">
                <p:dataTable id="availableCars" var="car" value="#{dndCarsView.cars}">
                    <p:column style="width:20px">
                        <h:outputText id="dragIcon" styleClass="ui-icon ui-icon-arrow-4" />
                        <p:draggable for="dragIcon" />
                    </p:column>

                    <p:column headerText="Id">
                        <h:outputText value="#{car.id}" />
                    </p:column>

                    <p:column headerText="Year">
                        <h:outputText value="#{car.year}" />
                    </p:column>

                    <p:column headerText="Brand">
                        <h:outputText value="#{car.brand}" />
                    </p:column>

                    <p:column headerText="Color">
                        <h:outputText value="#{car.color}" />
                    </p:column>
                </p:dataTable>
            </p:fieldset>

            <p:fieldset id="selectedCars" legend="Selected Cars" style="margin-top:20px">
                <p:outputPanel id="dropArea">
                    <h:outputText value="!!!Drop here!!!" rendered="#{empty dndCarsView.droppedCars}" style="font-size:24px;" />
                    <p:dataTable id="selectedCarsTable" var="car" value="#{dndCarsView.droppedCars}" rendered="#{not empty dndCarsView.droppedCars}">
                        <p:column headerText="Id">
                            <h:outputText value="#{car.id}" />
                        </p:column>

                        <p:column headerText="Year">
                            <h:outputText value="#{car.year}" />
                        </p:column>

                        <p:column headerText="Brand">
                            <h:outputText value="#{car.brand}" />
                        </p:column>

                        <p:column headerText="Color">
                            <h:outputText value="#{car.color}" />
                        </p:column>

                        <p:column style="width:32px">
                            <p:commandButton update=":carForm:display" oncomplete="PF('carDialog').show()" icon="ui-icon-search">
                                <f:setPropertyActionListener value="#{car}" target="#{dndCarsView.selectedCar}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:fieldset>

            <p:droppable for="selectedCars" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="availableCars" onDrop="handleDrop">
                <p:ajax listener="#{dndCarsView.onCarDrop}" update="dropArea availableCars" />
            </p:droppable>

            <p:dialog header="Car Detail" widgetVar="carDialog" resizable="false" draggable="false"
                        showEffect="fade" hideEffect="fade" modal="true">

                <h:panelGrid id="display" columns="2" cellpadding="4">
                    <f:facet name="header">
                        <p:graphicImage name="demo/images/car/#{dndCarsView.selectedCar.brand}.gif"/>
                    </f:facet>

                    <h:outputText value="Id:" />
                    <h:outputText value="#{dndCarsView.selectedCar.id}" style="font-weight:bold"/>

                    <h:outputText value="Year:" />
                    <h:outputText value="#{dndCarsView.selectedCar.year}" style="font-weight:bold"/>

                    <h:outputText value="Brand:" />
                    <h:outputText value="#{dndCarsView.selectedCar.brand}" style="font-weight:bold"/>

                    <h:outputText value="Color:" />
                    <h:outputText value="#{dndCarsView.selectedCar.color}" style="font-weight:bold"/>
                </h:panelGrid>
            </p:dialog>
        </h:form>
        
    </ui:define>

    <ui:define name="source">
        <p:tabView>
            <p:tab title="dataTable.xhtml">
                <pre name="code" class="brush:xml">
&lt;script type="text/javascript"&gt;
    function handleDrop(event, ui) {
        var droppedCar = ui.draggable;

        droppedCar.fadeOut('fast');
    }
&lt;/script&gt;

&lt;h:form id="carForm"&gt;
    &lt;p:fieldset id="availableCarsField" legend="Available Cars"&gt;
        &lt;p:dataTable id="availableCars" var="car" value="\#{dndCarsView.cars}"&gt;
            &lt;p:column style="width:20px"&gt;
                &lt;h:outputText id="dragIcon" styleClass="ui-icon ui-icon-arrow-4" /&gt;
                &lt;p:draggable for="dragIcon" /&gt;
            &lt;/p:column&gt;

            &lt;p:column headerText="Id"&gt;
                &lt;h:outputText value="\#{car.id}" /&gt;
            &lt;/p:column&gt;

            &lt;p:column headerText="Year"&gt;
                &lt;h:outputText value="\#{car.year}" /&gt;
            &lt;/p:column&gt;

            &lt;p:column headerText="Brand"&gt;
                &lt;h:outputText value="\#{car.brand}" /&gt;
            &lt;/p:column&gt;

            &lt;p:column headerText="Color"&gt;
                &lt;h:outputText value="\#{car.color}" /&gt;
            &lt;/p:column&gt;
        &lt;/p:dataTable&gt;
    &lt;/p:fieldset&gt;

    &lt;p:fieldset id="selectedCars" legend="Selected Cars" style="margin-top:20px"&gt;
        &lt;p:outputPanel id="dropArea"&gt;
            &lt;h:outputText value="!!!Drop here!!!" rendered="\#{empty dndCarsView.droppedCars}" style="font-size:24px;" /&gt;
            &lt;p:dataTable id="selectedCarsTable" var="car" value="\#{dndCarsView.droppedCars}" rendered="\#{not empty dndCarsView.droppedCars}"&gt;
                &lt;p:column headerText="Id"&gt;
                    &lt;h:outputText value="\#{car.id}" /&gt;
                &lt;/p:column&gt;

                &lt;p:column headerText="Year"&gt;
                    &lt;h:outputText value="\#{car.year}" /&gt;
                &lt;/p:column&gt;

                &lt;p:column headerText="Brand"&gt;
                    &lt;h:outputText value="\#{car.brand}" /&gt;
                &lt;/p:column&gt;

                &lt;p:column headerText="Color"&gt;
                    &lt;h:outputText value="\#{car.color}" /&gt;
                &lt;/p:column&gt;

                &lt;p:column style="width:32px"&gt;
                    &lt;p:commandButton update=":carForm:display" oncomplete="PF('carDialog').show()" icon="ui-icon-search"&gt;
                        &lt;f:setPropertyActionListener value="\#{car}" target="\#{dndCarsView.selectedCar}" /&gt;
                    &lt;/p:commandButton&gt;
                &lt;/p:column&gt;
            &lt;/p:dataTable&gt;
        &lt;/p:outputPanel&gt;
    &lt;/p:fieldset&gt;

    &lt;p:droppable for="selectedCars" tolerance="touch" activeStyleClass="ui-state-highlight" datasource="availableCars" onDrop="handleDrop"&gt;
        &lt;p:ajax listener="\#{dndCarsView.onCarDrop}" update="dropArea availableCars" /&gt;
    &lt;/p:droppable&gt;

    &lt;p:dialog header="Car Detail" widgetVar="carDialog" resizable="false" draggable="false"
                showEffect="fade" hideEffect="fade" modal="true"&gt;

        &lt;h:panelGrid id="display" columns="2" cellpadding="4"&gt;
            &lt;f:facet name="header"&gt;
                &lt;p:graphicImage name="demo/images/car/\#{dndCarsView.selectedCar.brand}.gif"/&gt;
            &lt;/f:facet&gt;

            &lt;h:outputText value="Id:" /&gt;
            &lt;h:outputText value="\#{dndCarsView.selectedCar.id}" style="font-weight:bold"/&gt;

            &lt;h:outputText value="Year:" /&gt;
            &lt;h:outputText value="\#{dndCarsView.selectedCar.year}" style="font-weight:bold"/&gt;

            &lt;h:outputText value="Brand:" /&gt;
            &lt;h:outputText value="\#{dndCarsView.selectedCar.brand}" style="font-weight:bold"/&gt;

            &lt;h:outputText value="Color:" /&gt;
            &lt;h:outputText value="\#{dndCarsView.selectedCar.color}" style="font-weight:bold"/&gt;
        &lt;/h:panelGrid&gt;
    &lt;/p:dialog&gt;
&lt;/h:form&gt;
                </pre>
            </p:tab>

            <p:tab title="DNDCarsView.java">
                <pre name="code" class="brush:java">
package org.primefaces.showcase.view.dnd;

import java.io.Serializable;
import java.util.ArrayList;
import java.util.List;
import javax.annotation.PostConstruct;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ManagedProperty;
import javax.faces.bean.ViewScoped;
import org.primefaces.event.DragDropEvent;
import org.primefaces.showcase.domain.Car;
import org.primefaces.showcase.service.CarService;

@ManagedBean(name = "dndCarsView")
@ViewScoped
public class DNDCarsView implements Serializable {
 
    @ManagedProperty("\#{carService}")
    private CarService service;

    private List&lt;Car&gt; cars;
    
    private List&lt;Car&gt; droppedCars;
    
    private Car selectedCar;
    
    @PostConstruct
    public void init() {
        cars = service.createCars(9);
        droppedCars = new ArrayList&lt;Car&gt;();
    }
    
    public void onCarDrop(DragDropEvent ddEvent) {
        Car car = ((Car) ddEvent.getData());
 
        droppedCars.add(car);
        cars.remove(car);
    }
    
    public void setService(CarService service) {
        this.service = service;
    }

    public List&lt;Car&gt; getCars() {
        return cars;
    }

    public List&lt;Car&gt; getDroppedCars() {
        return droppedCars;
    }    

    public Car getSelectedCar() {
        return selectedCar;
    }

    public void setSelectedCar(Car selectedCar) {
        this.selectedCar = selectedCar;
    }
}

                </pre>
            </p:tab>
            
            <p:tab title="Documentation" titleStyleClass="tab-doc docslide-177" />
        </p:tabView>

    </ui:define>

</ui:composition>