<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .value {
                font-weight: bold;
            }
        </style>
	</ui:define>
    
    <ui:define name="title">
        DataGrid
    </ui:define>

    <ui:define name="description">
        DataGrid displays data in a grid layout.
    </ui:define>

    <ui:define name="implementation">

        <h:form id="form">
            <p:dataGrid var="car" value="#{dataGridView.cars}" columns="3"
                rows="12" paginator="true" id="cars"
                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="6,12,16">
                
                <f:facet name="header">
                    Cars for Sale
                </f:facet>

                <p:panel header="#{car.id}" style="text-align:center">
                    <h:panelGrid columns="1" style="width:100%">
                        <p:graphicImage name="demo/images/car/#{car.brand}.gif"/> 

                        <h:outputText value="#{car.year}" />

                        <p:commandLink update=":form:carDetail" oncomplete="PF('carDialog').show()" title="View Detail">
                            <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                            <f:setPropertyActionListener value="#{car}" target="#{dataGridView.selectedCar}" />
                        </p:commandLink>
                    </h:panelGrid>
                </p:panel>

            </p:dataGrid>

            <p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="carDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty dataGridView.selectedCar}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="demo/images/car/#{dataGridView.selectedCar.brand}-big.gif"/> 
                        </f:facet>
                        
                        <h:outputText value="Id:" />
                        <h:outputText value="#{dataGridView.selectedCar.id}" />

                        <h:outputText value="Year" />
                        <h:outputText value="#{dataGridView.selectedCar.year}" />

                        <h:outputText value="Color:" />
                        <h:outputText value="#{dataGridView.selectedCar.color}" style="color:#{dataGridView.selectedCar.color}"/>
                    
                        <h:outputText value="Price" />
                        <h:outputText value="\$#{dataGridView.selectedCar.price}" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
        
    </ui:define>

    <ui:define name="source">
        <p:tabView>
            <p:tab title="dataGrid.xhtml">
                <pre name="code" class="brush:xml">
&lt;h:form id="form"&gt;
    &lt;p:dataGrid var="car" value="\#{dataGridView.cars}" columns="3"
        rows="12" paginator="true" id="cars"
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="6,12,16"&gt;

        &lt;f:facet name="header"&gt;
            Cars for Sale
        &lt;/f:facet&gt;

        &lt;p:panel header="\#{car.id}" style="text-align:center"&gt;
            &lt;h:panelGrid columns="1" style="width:100%"&gt;
                &lt;p:graphicImage name="demo/images/car/\#{car.brand}.gif"/&gt; 

                &lt;h:outputText value="\#{car.year}" /&gt;

                &lt;p:commandLink update=":form:carDetail" oncomplete="PF('carDialog').show()" title="View Detail"&gt;
                    &lt;h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" /&gt;
                    &lt;f:setPropertyActionListener value="\#{car}" target="\#{dataGridView.selectedCar}" /&gt;
                &lt;/p:commandLink&gt;
            &lt;/h:panelGrid&gt;
        &lt;/p:panel&gt;

    &lt;/p:dataGrid&gt;

    &lt;p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false"&gt;
        &lt;p:outputPanel id="carDetail" style="text-align:center;"&gt;
            &lt;p:panelGrid  columns="2" rendered="\#{not empty dataGridView.selectedCar}" columnClasses="label,value"&gt;
                &lt;f:facet name="header"&gt;
                    &lt;p:graphicImage name="demo/images/car/\#{dataGridView.selectedCar.brand}-big.gif"/&gt; 
                &lt;/f:facet&gt;

                &lt;h:outputText value="Id:" /&gt;
                &lt;h:outputText value="\#{dataGridView.selectedCar.id}" /&gt;

                &lt;h:outputText value="Year" /&gt;
                &lt;h:outputText value="\#{dataGridView.selectedCar.year}" /&gt;

                &lt;h:outputText value="Color:" /&gt;
                &lt;h:outputText value="\#{dataGridView.selectedCar.color}" style="color:\#{dataGridView.selectedCar.color}"/&gt;

                &lt;h:outputText value="Price" /&gt;
                &lt;h:outputText value="\$\#{dataGridView.selectedCar.price}" /&gt;
            &lt;/p:panelGrid&gt;
        &lt;/p:outputPanel&gt;
    &lt;/p:dialog&gt;
&lt;/h:form&gt;
                </pre>
            </p:tab>

            <p:tab title="DataGridView.java">
                <pre name="code" class="brush:java">
package org.primefaces.showcase.view.data;

import java.io.Serializable;
import java.util.List;
import javax.annotation.PostConstruct;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ManagedProperty;
import javax.faces.bean.ViewScoped;
import org.primefaces.showcase.domain.Car;
import org.primefaces.showcase.service.CarService;

@ManagedBean
@ViewScoped
public class DataGridView implements Serializable {
    
    private List&lt;Car&gt; cars;
    
    private Car selectedCar;
    
    @ManagedProperty("\#{carService}")
    private CarService service;
    
    @PostConstruct
    public void init() {
        cars = service.createCars(48);
    }

    public List&lt;Car&gt; getCars() {
        return cars;
    }

    public void setService(CarService service) {
        this.service = service;
    }

    public Car getSelectedCar() {
        return selectedCar;
    }

    public void setSelectedCar(Car selectedCar) {
        this.selectedCar = selectedCar;
    }
}

                </pre>
            </p:tab>
            
            <p:tab title="CarService.java">
                <pre name="code" class="brush:java">
package org.primefaces.showcase.service;

import java.util.ArrayList;
import java.util.List;
import java.util.UUID;
import javax.faces.bean.ApplicationScoped;
import javax.faces.bean.ManagedBean;
import org.primefaces.showcase.domain.Car;

@ManagedBean(name = "carService")
@ApplicationScoped
public class CarService {
    
    private final static String[] colors;
	
	private final static String[] brands;
    
    static {
		colors = new String[10];
		colors[0] = "Black";
		colors[1] = "White";
		colors[2] = "Green";
		colors[3] = "Red";
		colors[4] = "Blue";
		colors[5] = "Orange";
		colors[6] = "Silver";
		colors[7] = "Yellow";
		colors[8] = "Brown";
		colors[9] = "Maroon";
		
		brands = new String[10];
		brands[0] = "BMW";
		brands[1] = "Mercedes";
		brands[2] = "Volvo";
		brands[3] = "Audi";
		brands[4] = "Renault";
		brands[5] = "Fiat";
		brands[6] = "Volkswagen";
		brands[7] = "Honda";
		brands[8] = "Jaguar";
		brands[9] = "Ford";
	}
    
    public List&lt;Car&gt; createCars(int size) {
        List&lt;Car&gt; list = new ArrayList&lt;Car&gt;();
		for(int i = 0 ; i &lt; size ; i++) {
			list.add(new Car(getRandomId(), getRandomBrand(), getRandomYear(), getRandomColor(), getRandomPrice(), getRandomSoldState()));
        }
        
        return list;
    }
    
    private String getRandomId() {
		return UUID.randomUUID().toString().substring(0, 8);
	}
    
    private int getRandomYear() {
		return (int) (Math.random() * 50 + 1960);
	}
	
	private String getRandomColor() {
		return colors[(int) (Math.random() * 10)];
	}
	
	private String getRandomBrand() {
		return brands[(int) (Math.random() * 10)];
	}
    
    public int getRandomPrice() {
		return (int) (Math.random() * 100000);
	}
    
    public boolean getRandomSoldState() {
		return (Math.random() &gt; 0.5) ? true: false;
	}

    public List&lt;String&gt; getColors() {
        return Arrays.asList(colors);
    }
    
    public List&lt;String&gt; getBrands() {
        return Arrays.asList(brands);
    }
}
                </pre>
            </p:tab>
            
            <p:tab title="Documentation" titleStyleClass="tab-doc docslide-131" />
        </p:tabView>

    </ui:define>

</ui:composition>