<!DOCTYPE html [
    <!ENTITY nbsp "&#160;">
    <!ENTITY bull "&#8226;">
    <!ENTITY copy "&#169;">
]>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
<h:head>
    <f:facet name="first">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="shortcut icon" type="image/png" href="#{request.contextPath}/resources/main/images/favicon.png" />
    </f:facet>

    <title>PrimeFaces ShowCase</title>
    <h:outputStylesheet name="main/css/showcase.css" />
    <h:outputStylesheet name="main/css/perfect-scrollbar.css" />
    <h:outputStylesheet name="main/css/sh.css" />
    <h:outputScript name="jquery/jquery.js" library="primefaces" />
    <h:outputScript name="jquery/jquery-plugins.js" library="primefaces" />
    <h:outputScript name="main/js/perfect-scrollbar.js" />
    <h:outputScript name="main/js/showcase.js" />
    <ui:insert name="head" />
    <script type="text/javascript">
		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-12200033-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
   			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
</h:head>

<h:body>

    <!-- PC CONTENT STARTS HERE-->
    <div class="PC">
        
	<div id="MENUSIDE">
    	<div id="MENUSIDEindent">
            <span id="LOGO" class="bordersOfMenuSide">
                <h:graphicImage name="main/images/logo.svg" />
                <h:graphicImage id="BlueLogo" styleClass="hiddenLogo" name="main/images/logoBlue.svg" />
            </span>
            <div class="MenuSideMainLink bordersOfMenuSide"><h:graphicImage name="main/images/zoom.svg" class="zoomIcon"/><input id="menuSearch" type="text" placeholder="Search Menu" class="mediumFont fontSize14 mustClose searchInput"/></div>
            
            <span id="SubMenu-Ajax" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/ajaxCore.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/ajaxCoreBlue.svg" /><span class="MainLinkText">Ajax Core</span></span>
            <div class="SubMenuLinkContainer">
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/basic.xhtml">&bull; Basic</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/event.xhtml">&bull; Event</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/listener.xhtml">&bull; Listener</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/counter.xhtml">&bull; Counter</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/process.xhtml">&bull; Process</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/validation.xhtml">&bull; Validation</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/dropdown.xhtml">&bull; Dropdown</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/partialSubmit.xhtml">&bull; PartialSubmit</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/selector.xhtml">&bull; Selector</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/search.xhtml">&bull; Search</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/poll.xhtml">&bull; Poll</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/fragment.xhtml">&bull; Fragment</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/status.xhtml">&bull; Status</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/ajax/remoteCommand.xhtml">&bull; RemoteCommand</a>                
            </div>
            
            <span id="SubMenu-Input" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/input.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/inputBlue.svg" /><span class="MainLinkText">Input</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/autoComplete.xhtml">&bull; AutoComplete</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/inputTextarea.xhtml">&bull; InputTextarea</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/booleanButton.xhtml">&bull; BooleanButton</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/booleanCheckbox.xhtml">&bull; BooleanCheckbox</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/calendar.xhtml">&bull; Calendar</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/checkboxMenu.xhtml">&bull; CheckboxMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/oneMenu.xhtml">&bull; OneMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/editor.xhtml">&bull; Editor</a> 
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/inputText.xhtml">&bull; InputText</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/inputMask.xhtml">&bull; InputMask</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/listbox.xhtml">&bull; Listbox</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/manyButton.xhtml">&bull; ManyButton</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/manyMenu.xhtml">&bull; ManyMenu</a> 
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/manyCheckbox.xhtml">&bull; ManyCheckbox</a> 
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/multiSelectListbox.xhtml">&bull; MultiSelectListbox</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/oneButton.xhtml">&bull; OneButton</a> 
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/oneRadio.xhtml">&bull; OneRadio</a> 
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/spinner.xhtml">&bull; Spinner</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/slider.xhtml">&bull; Slider</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/password.xhtml">&bull; Password</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/keyboard.xhtml">&bull; Keyboard</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/rating.xhtml">&bull; Rating</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/colorPicker.xhtml">&bull; ColorPicker</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/input/inplace.xhtml">&bull; Inplace</a>
            </div>
            
            <span id="SubMenu-Button" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/button.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/buttonBlue.svg" /><span class="MainLinkText">Button</span></span>
            <div class="SubMenuLinkContainer">
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/button/button.xhtml">&bull; Button</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/button/commandButton.xhtml">&bull; CommandButton</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/button/commandLink.xhtml">&bull; CommandLink</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/button/link.xhtml">&bull; Link</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/button/splitButton.xhtml">&bull; SplitButton</a>
            </div>
            
            <span id="SubMenu-Data" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/data.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/dataBlue.svg" /><span class="MainLinkText">Data</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/carousel.xhtml">&bull; Carousel</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/dataGrid.xhtml">&bull; DataGrid</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/dataList.xhtml">&bull; DataList</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/datascroller/basic.xhtml">&bull; DataScroller</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/datatable/basic.xhtml">&bull; DataTable</a>
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/data/pickList.xhtml">&bull; PickList</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/orderList.xhtml">&bull; OrderList</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/gmap/basic.xhtml">&bull; GMap</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/dataexporter/basic.xhtml">&bull; DataExporter</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/mindmap.xhtml">&bull; Mindmap</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/ring.xhtml">&bull; Ring</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/schedule.xhtml">&bull; Schedule</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/tagCloud.xhtml">&bull; TagCloud</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/tree/basic.xhtml">&bull; Tree</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/treetable/basic.xhtml">&bull; TreeTable</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/data/htree/basic.xhtml">&bull; HorizontalTree</a>
            </div>
            
            <span id="SubMenu-Panel" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/panel.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/panelBlue.svg" /><span class="MainLinkText">Panel</span></span>
            <div class="SubMenuLinkContainer">
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/panel/accordionPanel.xhtml">&bull; Accordion</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/dashboard.xhtml">&bull; Dashboard</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/fieldset.xhtml">&bull; Fieldset</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/layout/element.xhtml">&bull; Layout</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/notificationBar.xhtml">&bull; NotificationBar</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/outputPanel.xhtml">&bull; OutputPanel</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/panel.xhtml">&bull; Panel</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/panelGrid.xhtml">&bull; PanelGrid</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/ribbon.xhtml">&bull; Ribbon</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/scrollPanel.xhtml">&bull; ScrollPanel</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/tabView.xhtml">&bull; TabView</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/toolbar.xhtml">&bull; Toolbar</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/panel/wizard.xhtml">&bull; Wizard</a>
            </div>
            
            <span id="SubMenu-Overlay" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/overlay.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/overlayBlue.svg" /><span class="MainLinkText">Overlay</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/overlay/confirmDialog.xhtml">&bull; ConfirmDialog</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/overlay/dialog/basic.xhtml">&bull; Dialog</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/overlay/lightBox.xhtml">&bull; LightBox</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/overlay/overlayPanel.xhtml">&bull; OverlayPanel</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/overlay/tooltip/tooltipOptions.xhtml">&bull; Tooltip</a>
            </div>
            
            <span id="SubMenu-Menu" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/menu.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/menuBlue.svg" /><span class="MainLinkText">Menu</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/breadcrumb.xhtml">&bull; Breadcrumb</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/contextmenu/basic.xhtml">&bull; ContextMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/dock.xhtml">&bull; Dock</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/megaMenu.xhtml">&bull; MegaMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/menu.xhtml">&bull; Menu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/menubar.xhtml">&bull; Menubar</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/menuButton.xhtml">&bull; MenuButton</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/panelMenu.xhtml">&bull; PanelMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/slideMenu.xhtml">&bull; SlideMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/stack.xhtml">&bull; Stack</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/tabMenu.xhtml">&bull; TabMenu</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/menu/tieredMenu.xhtml">&bull; TieredMenu</a>
            </div>
            
            <span id="SubMenu-Charts" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/charts.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/chartsBlue.svg" /><span class="MainLinkText">Charts</span></span>
            <div class="SubMenuLinkContainer">
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/chart/area.xhtml">&bull; Area</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/bar.xhtml">&bull; Bar</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/bubble.xhtml">&bull; Bubble</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/donut.xhtml">&bull; Donut</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/line.xhtml">&bull; Line</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/pie.xhtml">&bull; Pie</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/metergauge.xhtml">&bull; MeterGauge</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/ohlc.xhtml">&bull; OHLC</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/animate.xhtml">&bull; Animate</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/export.xhtml">&bull; Export</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/interactive.xhtml">&bull; Interactive</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/live.xhtml">&bull; Live</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/static.xhtml">&bull; Static</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/zoom.xhtml">&bull; Zoom</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/combined.xhtml">&bull; Combined</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/multiaxis.xhtml">&bull; MultiAxis</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/chart/date.xhtml">&bull; Date</a>
            </div>
            
            <span id="SubMenu-Message" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/message.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/messageBlue.svg" /><span class="MainLinkText">Messages</span></span>
            <div class="SubMenuLinkContainer">
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/message/growl.xhtml">&bull; Growl</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/message/messages.xhtml">&bull; Messages</a>
            </div>
            
            <span id="SubMenu-Multimedia" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/multimedia.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/multimediaBlue.svg" /><span class="MainLinkText">Multimedia</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/compare.xhtml">&bull; Compare</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/contentFlow.xhtml">&bull; ContentFlow</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/cropper.xhtml">&bull; Cropper</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/galleria.xhtml">&bull; Galleria</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/graphicImage.xhtml">&bull; GraphicImage</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/media.xhtml">&bull; Media</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/photoCam.xhtml">&bull; PhotoCam</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/multimedia/switch.xhtml">&bull; Switch</a>
            </div>
            
            <span id="SubMenu-File" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/file.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/fileBlue.svg" /><span class="MainLinkText">File</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/file/upload/basic.xhtml">&bull; Upload</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/file/download.xhtml">&bull; Download</a>
            </div>
            
            <span id="SubMenu-DragDrop" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/dragdrop.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/dragdropBlue.svg" /><span class="MainLinkText">DragDrop</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/dnd/draggable.xhtml">&bull; Draggable</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/dnd/dataGrid.xhtml">&bull; DataGrid</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/dnd/dataTable.xhtml">&bull; DataTable</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/dnd/custom.xhtml">&bull; Custom</a>
            </div>
            
            <span id="SubMenu-CSV" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/clientSideValidation.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/clientSideValidationBlue.svg" /><span class="MainLinkText">Client Side Validation</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/csv/basic.xhtml">&bull; Basic</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/csv/bean.xhtml">&bull; Bean</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/csv/custom.xhtml">&bull; Custom</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/csv/event.xhtml">&bull; Event</a>
            </div>
            
            <span id="SubMenu-DF" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/dialogFramework.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/dialogFrameworkBlue.svg" /><span class="MainLinkText">Dialog Framework</span></span>
            <div class="SubMenuLinkContainer">
                <a class="SubMenuLink" href="#{request.contextPath}/ui/df/basic.xhtml">&bull; Basic</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/df/data.xhtml">&bull; Data</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/df/message.xhtml">&bull; Message</a>
            </div>
            
            <span id="SubMenu-Misc" class="MenuSideMainLink bordersOfMenuSide" onclick="Showcase.openSubMenu(this);"><h:graphicImage name="main/images/mono/misc.svg" /><h:graphicImage styleClass="hiddenIcons" name="main/images/mono/miscBlue.svg" /><span class="MainLinkText">Misc</span></span>
            <div class="SubMenuLinkContainer">
            	<a class="SubMenuLink" href="#{request.contextPath}/ui/misc/blockUI.xhtml">&bull; BlockUI</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/cache.xhtml">&bull; Cache</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/captcha.xhtml">&bull; Captcha</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/clock.xhtml">&bull; Clock</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/collector.xhtml">&bull; Collector</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/defaultCommand.xhtml">&bull; DefaultCommand</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/effect.xhtml">&bull; Effect</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/exceptionHandler.xhtml">&bull; ExceptionHandler</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/feedReader.xhtml">&bull; FeedReader</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/focus.xhtml">&bull; Focus</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/hotkey.xhtml">&bull; Hotkey</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/idleMonitor.xhtml">&bull; IdleMonitor</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/log.xhtml">&bull; Log</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/outputLabel.xhtml">&bull; OutputLabel</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/printer.xhtml">&bull; Printer</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/progressBar.xhtml">&bull; ProgressBar</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/requestContext.xhtml">&bull; RequestContext</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/resetInput.xhtml">&bull; ResetInput</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/resizable.xhtml">&bull; Resizable</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/separator.xhtml">&bull; Separator</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/spacer.xhtml">&bull; Spacer</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/spotlight.xhtml">&bull; Spotlight</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/sticky.xhtml">&bull; Sticky</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/terminal.xhtml">&bull; Terminal</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/themeSwitcher.xhtml">&bull; ThemeSwitcher</a>
                <a class="SubMenuLink" href="#{request.contextPath}/ui/misc/watermark.xhtml">&bull; Watermark</a>
            </div>
        </div>
    </div>
        
    <script type="text/javascript">
        restoreMenuState();
    </script>
    
    <div id="CONTENTSIDE">
    	<div id="CONTENTSIDEindent">
            
        	<!-- header bar start-->
			<div class="ContentSideSections" id="PFTopLinksCover" style="height:60px;">
                <a id="LOGOTEXTSIDE" href="#{request.contextPath}/index.xhtml">
                    <span class="dispBlock logoDarkText fontSize30">PrimeFaces</span>
                    <span class="dispBlock logoBlueText fontSize30 mediumFont">SHOWCASE</span>
                </a>
                
                <a href="#{request.contextPath}/ui/misc/mockosx.xhtml" class="PFTopLinks floatRight boldFont marginRight20"><h:graphicImage name="main/images/pfMockosx.svg" /><span class="PFGrayText">PF</span><span class="PFDarkText">MockOSX</span></a>
                <a href="http://www.primefaces.org/showcase-ext" class="PFTopLinks floatRight boldFont"><h:graphicImage name="main/images/pfExtensions.svg" /><span class="PFGrayText">PF</span><span class="PFDarkText">Extensions</span></a>
                <span class="PFTopLinks floatRight boldFont cursorPointer" id="pushNav">
                    <h:graphicImage name="main/images/pfPush.svg" /><span class="PFGrayText">PF</span><span class="PFDarkText">Push</span>
                    <div id="PushDemos" class="navOverlay">
                        <a href="#{request.contextPath}/push/counter.xhtml"><span class="ui-text">Counter</span></a>
                        <a href="#{request.contextPath}/push/chat.xhtml"><span class="ui-text">Chat</span></a>
                        <a href="#{request.contextPath}/push/notify.xhtml"><span class="ui-text">Notify</span></a>
                        <a href="#{request.contextPath}/mobile/checkin.xhtml"><span class="ui-text">Checkin</span></a>
                        <a href="#{request.contextPath}/push/viewparam.xhtml"><span class="ui-text">ViewParam</span></a>
                        <a href="#{request.contextPath}/push/chart.xhtml"><span class="ui-text">Chart</span></a>
                    </div>
                </span>
                <a href="#{request.contextPath}/mobile/index.xhtml" class="PFTopLinks floatRight boldFont"><h:graphicImage name="main/images/pfMobile.svg" /><span class="PFGrayText">PF</span><span class="PFDarkText">Mobile</span></a>
                <span class="PFTopLinks floatRight boldFont cursorPointer" id="themeSwitcher">
                    <h:form>
                        <h:graphicImage name="main/images/themeswitcher.svg" /><span class="PFGrayText">PF</span><span class="PFDarkText">Themes</span>
                        <div id="GlobalThemeSwitcher" class="navOverlay">
                            <ui:repeat value="#{themeSwitcherView.themes}" var="theme">
                                <a href="#" data-theme="#{theme.name}"><span class="ui-theme ui-theme-#{theme}"></span><span class="ui-text">#{theme.displayName}</span></a>
                            </ui:repeat>
                        </div>
                        <p:remoteCommand name="changeTheme" actionListener="#{guestPreferences.changeTheme}" />
                    </h:form>
                </span>
                
                <div class="mobileLogoCover">
                    <h:graphicImage name="main/images/logoBlue.svg" style="height:40px;" styleClass="floatLeft marginRight10"/>
                    <span class="dispBlock logoDarkText fontSize16 floatLeft">PrimeFaces <span class="dispBlock logoBlueText fontSize18 mediumFont">SHOWCASE</span></span> 
                </div>
                <select id="mobilemenu" class="selectmenu mediumFont">
                    <option value="">Menu</option>
                    <option value="#{request.contextPath}/index.xhtml" class="LEVEL1">Home</option>
                    <optgroup label="Ajax Framework" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/ajax/basic.xhtml">Basic</option>
                        <option value="#{request.contextPath}/ui/ajax/event.xhtml">Event</option>
                        <option value="#{request.contextPath}/ui/ajax/listener.xhtml">Listener</option>
                        <option value="#{request.contextPath}/ui/ajax/counter.xhtml">Counter</option>
                        <option value="#{request.contextPath}/ui/ajax/process.xhtml">Process</option>
                        <option value="#{request.contextPath}/ui/ajax/validation.xhtml">Validation</option>
                        <option value="#{request.contextPath}/ui/ajax/dropdown.xhtml">Dropdown</option>
                        <option value="#{request.contextPath}/ui/ajax/partialSubmit.xhtml">PartialSubmit</option>
                        <option value="#{request.contextPath}/ui/ajax/selector.xhtml">Selector</option>
                        <option value="#{request.contextPath}/ui/ajax/search.xhtml">Search</option>
                        <option value="#{request.contextPath}/ui/ajax/poll.xhtml">Poll</option>
                        <option value="#{request.contextPath}/ui/ajax/fragment.xhtml">Fragment</option>
                        <option value="#{request.contextPath}/ui/ajax/status.xhtml">Status</option>
                        <option value="#{request.contextPath}/ui/ajax/remoteCommand.xhtml">RemoteCommand</option>      
                    </optgroup>
                    <optgroup label="Input" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/input/autoComplete.xhtml">AutoComplete</option>
                        <option value="#{request.contextPath}/ui/input/inputTextarea.xhtml">InputTextarea</option>
                        <option value="#{request.contextPath}/ui/input/booleanButton.xhtml">BooleanButton</option>
                        <option value="#{request.contextPath}/ui/input/booleanCheckbox.xhtml">BooleanCheckbox</option>
                        <option value="#{request.contextPath}/ui/input/calendar.xhtml">Calendar</option>
                        <option value="#{request.contextPath}/ui/input/checkboxMenu.xhtml">CheckboxMenu</option>
                        <option value="#{request.contextPath}/ui/input/oneMenu.xhtml">OneMenu</option>
                        <option value="#{request.contextPath}/ui/input/editor.xhtml">Editor</option> 
                        <option value="#{request.contextPath}/ui/input/inputText.xhtml">InputText</option>
                        <option value="#{request.contextPath}/ui/input/inputMask.xhtml">InputMask</option>
                        <option value="#{request.contextPath}/ui/input/listbox.xhtml">Listbox</option>
                        <option value="#{request.contextPath}/ui/input/manyButton.xhtml">ManyButton</option>
                        <option value="#{request.contextPath}/ui/input/manyMenu.xhtml">ManyMenu</option> 
                        <option value="#{request.contextPath}/ui/input/manyCheckbox.xhtml">ManyCheckbox</option> 
                        <option value="#{request.contextPath}/ui/input/multiSelectListbox.xhtml">MultiSelectListbox</option>
                        <option value="#{request.contextPath}/ui/input/oneButton.xhtml">OneButton</option> 
                        <option value="#{request.contextPath}/ui/input/oneRadio.xhtml">OneRadio</option> 
                        <option value="#{request.contextPath}/ui/input/spinner.xhtml">Spinner</option>
                        <option value="#{request.contextPath}/ui/input/slider.xhtml">Slider</option>
                        <option value="#{request.contextPath}/ui/input/password.xhtml">Password</option>
                        <option value="#{request.contextPath}/ui/input/keyboard.xhtml">Keyboard</option>
                        <option value="#{request.contextPath}/ui/input/rating.xhtml">Rating</option>
                        <option value="#{request.contextPath}/ui/input/colorPicker.xhtml">ColorPicker</option>
                        <option value="#{request.contextPath}/ui/input/inplace.xhtml">Inplace</option>
                    </optgroup>
                    <optgroup label="Button" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/button/button.xhtml">Button</option>
                        <option value="#{request.contextPath}/ui/button/commandButton.xhtml">CommandButton</option>
                        <option value="#{request.contextPath}/ui/button/commandLink.xhtml">CommandLink</option>
                        <option value="#{request.contextPath}/ui/button/link.xhtml">Link</option>
                        <option value="#{request.contextPath}/ui/button/splitButton.xhtml">SplitButton</option>
                    </optgroup>
                    <optgroup label="Data" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/data/carousel.xhtml">Carousel</option>
                        <option value="#{request.contextPath}/ui/data/dataexporter/basic.xhtml">DataExporter - Basic</option>
                        <option value="#{request.contextPath}/ui/data/dataexporter/excludeColumns.xhtml">DataExporter - Exclude Columns</option>
                        <option value="#{request.contextPath}/ui/data/dataexporter/customizedDocuments.xhtml">DataExporter - Customized Documents</option>
                        <option value="#{request.contextPath}/ui/data/dataGrid.xhtml">DataGrid</option>
                        <option value="#{request.contextPath}/ui/data/dataList.xhtml">DataList</option>
                        <option value="#{request.contextPath}/ui/data/datatable/basic.xhtml">DataTable - Basic</option>
                        <option value="#{request.contextPath}/ui/data/datatable/facets.xhtml">DataTable - Facets</option>
                        <option value="#{request.contextPath}/ui/data/datatable/paginator.xhtml">DataTable - Paginator</option>
                        <option value="#{request.contextPath}/ui/data/datatable/sort.xhtml">DataTable - Sort</option>
                        <option value="#{request.contextPath}/ui/data/datatable/filter.xhtml">DataTable - Filter</option>
                        <option value="#{request.contextPath}/ui/data/datatable/selection.xhtml">DataTable - Selection</option>
                        <option value="#{request.contextPath}/ui/data/datatable/group.xhtml">DataTable - Group</option>
                        <option value="#{request.contextPath}/ui/data/datatable/subTable.xhtml">DataTable - SubTable</option>
                        <option value="#{request.contextPath}/ui/data/datatable/summaryRow.xhtml">DataTable - SummaryRow</option>
                        <option value="#{request.contextPath}/ui/data/datatable/expansion.xhtml">DataTable - Expansion</option>
                        <option value="#{request.contextPath}/ui/data/datatable/columns.xhtml">DataTable - Columns</option>
                        <option value="#{request.contextPath}/ui/data/datatable/edit.xhtml">DataTable - Edit</option>
                        <option value="#{request.contextPath}/ui/data/datatable/scroll.xhtml">DataTable - Scroll</option>
                        <option value="#{request.contextPath}/ui/data/datatable/rowColor.xhtml">DataTable - RowColor</option>
                        <option value="#{request.contextPath}/ui/data/datatable/lazy.xhtml">DataTable - Lazy</option>
                        <option value="#{request.contextPath}/ui/data/datatable/columnResize.xhtml">DataTable - Resize</option>
                        <option value="#{request.contextPath}/ui/data/datatable/reorder.xhtml">DataTable - Reorder</option>
                        <option value="#{request.contextPath}/ui/data/datatable/columnToggler.xhtml">DataTable - ColumnToggler</option>
                        <option value="#{request.contextPath}/ui/data/datatable/contextMenu.xhtml">DataTable - ContextMenu</option>
                        <option value="#{request.contextPath}/ui/data/datatable/sticky.xhtml">DataTable - Sticky</option>
                        <option value="#{request.contextPath}/ui/data/datatable/rtl.xhtml">DataTable - RTL</option>
                        <option value="#{request.contextPath}/ui/data/pickList.xhtml">PickList</option>
                        <option value="#{request.contextPath}/ui/data/mingmap.xhtml">Mindmap</option>
                        <option value="#{request.contextPath}/ui/data/orderList.xhtml">OrderList</option>
                        <option value="#{request.contextPath}/ui/data/gmap/basic.xhtml">GMap - Basic</option>
                        <option value="#{request.contextPath}/ui/data/gmap/event.xhtml">GMap - Event</option>
                        <option value="#{request.contextPath}/ui/data/gmap/markers.xhtml">GMap - Markers</option>
                        <option value="#{request.contextPath}/ui/data/gmap/markerSelection.xhtml">GMap - Marker Selection</option>
                        <option value="#{request.contextPath}/ui/data/gmap/addMarkers.xhtml">GMap - Adding Markers</option>
                        <option value="#{request.contextPath}/ui/data/gmap/draggableMarkers.xhtml">GMap - Draggable Markers</option>
                        <option value="#{request.contextPath}/ui/data/gmap/infoWindow.xhtml">GMap - Info Window</option>
                        <option value="#{request.contextPath}/ui/data/gmap/polylines.xhtml">GMap - Polylines</option>
                        <option value="#{request.contextPath}/ui/data/gmap/polygons.xhtml">GMap - Polygons</option>
                        <option value="#{request.contextPath}/ui/data/gmap/circles.xhtml">GMap - Circles</option>
                        <option value="#{request.contextPath}/ui/data/gmap/rectangles.xhtml">GMap - Rectangles</option>
                        <option value="#{request.contextPath}/ui/data/gmap/street.xhtml">GMap - Street View</option>
                        <option value="#{request.contextPath}/ui/data/gmap/controls.xhtml">GMap - Controls</option>
                        <option value="#{request.contextPath}/ui/data/gmap/mapDialog.xhtml">GMap - Map in Dialog</option>
                        <option value="#{request.contextPath}/ui/data/ring.xhtml">Ring</option>
                        <option value="#{request.contextPath}/ui/data/schedule.xhtml">Schedule</option>
                        <option value="#{request.contextPath}/ui/data/tagCloud.xhtml">TagCloud</option>
                        <option value="#{request.contextPath}/ui/data/tree/basic.xhtml">Tree - Basic</option>
                        <option value="#{request.contextPath}/ui/data/tree/icon.xhtml">Tree - Icon</option>
                        <option value="#{request.contextPath}/ui/data/tree/selection.xhtml">Tree - Selection</option>
                        <option value="#{request.contextPath}/ui/data/tree/events.xhtml">Tree - Events</option>
                        <option value="#{request.contextPath}/ui/data/tree/dragdrop.xhtml">Tree - DragDrop</option>
                        <option value="#{request.contextPath}/ui/data/tree/contextMenu.xhtml">Tree - ContextMenu</option>
                        <option value="#{request.contextPath}/ui/data/tree/animate.xhtml">Tree - Animate</option>
                        <option value="#{request.contextPath}/ui/data/tree/rtl.xhtml">Tree - RTL</option>
                        <option value="#{request.contextPath}/ui/data/htree/basic.xhtml">Tree Horizontal - Basic</option>
                        <option value="#{request.contextPath}/ui/data/htree/icon.xhtml">Tree Horizontal - Icon</option>
                        <option value="#{request.contextPath}/ui/data/htree/selection.xhtml">Tree Horizontal - Selection</option>
                        <option value="#{request.contextPath}/ui/data/htree/events.xhtml">Tree Horizontal - Events</option>
                        <option value="#{request.contextPath}/ui/data/htree/contextMenu.xhtml">Tree Horizontal - ContextMenu</option>
                        <option value="#{request.contextPath}/ui/data/treetable/basic.xhtml">TreeTable - Basic</option>
                        <option value="#{request.contextPath}/ui/data/treetable/selection.xhtml">TreeTable - Selection</option>
                        <option value="#{request.contextPath}/ui/data/treetable/events.xhtml">TreeTable - Events</option>
                        <option value="#{request.contextPath}/ui/data/treetable/contextMenu.xhtml">TreeTable - ContextMenu</option>
                        <option value="#{request.contextPath}/ui/data/treetable/scroll.xhtml">TreeTable - Scroll</option>
                        <option value="#{request.contextPath}/ui/data/treetable/resize.xhtml">TreeTable - Resize</option>
                        <option value="#{request.contextPath}/ui/data/treetable/sort.xhtml">TreeTable - Sort</option>
                    </optgroup>
                    <optgroup label="Panel" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/panel/accordionPanel.xhtml">Accordion</option>
                        <option value="#{request.contextPath}/ui/panel/dashboard.xhtml">Dashboard</option>
                        <option value="#{request.contextPath}/ui/panel/fieldset.xhtml">Fieldset</option>
                        <option value="#{request.contextPath}/ui/panel/layout/full.xhtml">Layout - Full</option>
                        <option value="#{request.contextPath}/ui/panel/layout/element.xhtml">Layout - Element</option>
                        <option value="#{request.contextPath}/ui/panel/layout/nested.xhtml">Layout - Nested</option>
                        <option value="#{request.contextPath}/ui/panel/layout/events.xhtml">Layout - Events</option>
                        <option value="#{request.contextPath}/ui/panel/layout/complex.xhtml">Layout - Complex</option>
                        <option value="#{request.contextPath}/ui/panel/layout/mailbox.xhtml">Layout - Mailbox</option>
                        <option value="#{request.contextPath}/ui/panel/notificationBar.xhtml">NotificationBar</option>
                        <option value="#{request.contextPath}/ui/panel/outputPanel.xhtml">OutputPanel</option>
                        <option value="#{request.contextPath}/ui/panel/panel.xhtml">Panel</option>
                        <option value="#{request.contextPath}/ui/panel/panelGrid.xhtml">PanelGrid</option>
                        <option value="#{request.contextPath}/ui/panel/scrollPanel.xhtml">ScrollPanel</option>
                        <option value="#{request.contextPath}/ui/panel/tabView.xhtml">TabView</option>
                        <option value="#{request.contextPath}/ui/panel/toolbar.xhtml">Toolbar</option>
                        <option value="#{request.contextPath}/ui/panel/wizard.xhtml">Wizard</option>
                    </optgroup>
                    <optgroup label="Overlay" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/overlay/confirmDialog.xhtml">ConfirmDialog</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/basic.xhtml">Dialog - Basic</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/minMax.xhtml">Dialog - Minimize/Maximize</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/dynamic.xhtml">Dialog - Dynamic Content</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/focus.xhtml">Dialog - Dynamic Focus</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/close.xhtml">Dialog - Close Listener</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/loginDemo.xhtml">Dialog - Login Demo</option>
                        <option value="#{request.contextPath}/ui/overlay/dialog/rtl.xhtml">Dialog - RTL</option>
                        <option value="#{request.contextPath}/ui/overlay/lightBox.xhtml">LightBox</option>
                        <option value="#{request.contextPath}/ui/overlay/overlayPanel.xhtml">OverlayPanel</option>
                        <option value="#{request.contextPath}/ui/overlay/tooltip/tooltipOptions.xhtml">Tooltip - Options</option>
                        <option value="#{request.contextPath}/ui/overlay/tooltip/tooltipGlobal.xhtml">Tooltip - Global</option>
                    </optgroup>
                    <optgroup label="Menu" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/menu/breadcrumb.xhtml">Breadcrumb</option>
                        <option value="#{request.contextPath}/ui/menu/contextmenu/basic.xhtml">ContextMenu - Basic</option>
                        <option value="#{request.contextPath}/ui/menu/contextmenu/tiered.xhtml">ContextMenu - Tiered</option>
                        <option value="#{request.contextPath}/ui/menu/contextmenu/target.xhtml">ContextMenu - Target</option>
                        <option value="#{request.contextPath}/ui/data/datatable/contextMenu.xhtml">ContextMenu - DataTable</option>
                        <option value="#{request.contextPath}/ui/data/tree/contextMenu.xhtml">ContextMenu - Tree</option>
                        <option value="#{request.contextPath}/ui/data/treetable/contextMenu.xhtml">ContextMenu - TreeTable</option>
                        <option value="#{request.contextPath}/ui/menu/dock.xhtml">Dock</option>
                        <option value="#{request.contextPath}/ui/menu/megaMenu.xhtml">MegaMenu</option>
                        <option value="#{request.contextPath}/ui/menu/menu.xhtml">Menu</option>
                        <option value="#{request.contextPath}/ui/menu/menubar.xhtml">Menubar</option>
                        <option value="#{request.contextPath}/ui/menu/menuButton.xhtml">MenuButton</option>
                        <option value="#{request.contextPath}/ui/menu/panelMenu.xhtml">PanelMenu</option>
                        <option value="#{request.contextPath}/ui/menu/slideMenu.xhtml">SlideMenu</option>
                        <option value="#{request.contextPath}/ui/menu/stack.xhtml">Stack</option>
                        <option value="#{request.contextPath}/ui/menu/tabMenu.xhtml">TabMenu</option>
                        <option value="#{request.contextPath}/ui/menu/tieredMenu.xhtml">TieredMenu</option>
                    </optgroup>
                    <optgroup label="Charts" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/chart/area.xhtml">Area</option>
                        <option value="#{request.contextPath}/ui/chart/bar.xhtml">Bar</option>
                        <option value="#{request.contextPath}/ui/chart/bubble.xhtml">Bubble</option>
                        <option value="#{request.contextPath}/ui/chart/donut.xhtml">Donut</option>
                        <option value="#{request.contextPath}/ui/chart/line.xhtml">Line</option>
                        <option value="#{request.contextPath}/ui/chart/pie.xhtml">Pie</option>
                        <option value="#{request.contextPath}/ui/chart/metergauge.xhtml">MeterGauge</option>
                        <option value="#{request.contextPath}/ui/chart/ohlc.xhtml">OHLC</option>
                        <option value="#{request.contextPath}/ui/chart/animate.xhtml">Animate</option>
                        <option value="#{request.contextPath}/ui/chart/export.xhtml">Export</option>
                        <option value="#{request.contextPath}/ui/chart/interactive.xhtml">Interactive</option>
                        <option value="#{request.contextPath}/ui/chart/live.xhtml">Live</option>
                        <option value="#{request.contextPath}/ui/chart/static.xhtml">Static</option>
                        <option value="#{request.contextPath}/ui/chart/zoom.xhtml">Zoom</option>
                        <option value="#{request.contextPath}/ui/chart/combined.xhtml">Combined</option>
                        <option value="#{request.contextPath}/ui/chart/multiaxis.xhtml">MultiAxis</option>
                        <option value="#{request.contextPath}/ui/chart/date.xhtml">Date</option>
                    </optgroup>
                    <optgroup label="Messages" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/message/growl.xhtml">Growl</option>
                        <option value="#{request.contextPath}/ui/message/messages.xhtml">Messages</option>
                    </optgroup>
                    <optgroup label="Multimedia" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/multimedia/compare.xhtml">Compare</option>
                        <option value="#{request.contextPath}/ui/multimedia/contentFlow.xhtml">ContentFlow</option>
                        <option value="#{request.contextPath}/ui/multimedia/cropper.xhtml">Cropper</option>
                        <option value="#{request.contextPath}/ui/multimedia/galleria.xhtml">Galleria</option>
                        <option value="#{request.contextPath}/ui/multimedia/graphicImage.xhtml">GraphicImage</option>
                        <option value="#{request.contextPath}/ui/multimedia/media.xhtml">Media</option>
                        <option value="#{request.contextPath}/ui/multimedia/photoCam.xhtml">PhotoCam</option>
                        <option value="#{request.contextPath}/ui/multimedia/switch.xhtml">Switch</option>
                    </optgroup>
                    <optgroup label="File" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/file/upload/basic.xhtml">Upload - Basic</option>
                        <option value="#{request.contextPath}/ui/file/upload/auto.xhtml">Upload - Auto</option>
                        <option value="#{request.contextPath}/ui/file/upload/single.xhtml">Upload - Single</option>
                        <option value="#{request.contextPath}/ui/file/upload/multiple.xhtml">Upload - Multiple</option>
                        <option value="#{request.contextPath}/ui/file/upload/dnd.xhtml">Upload - DragDrop</option>
                        <option value="#{request.contextPath}/ui/file/download.xhtml">Download</option>
                    </optgroup>
                    <optgroup label="DragDrop" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/dnd/draggable.xhtml">Draggable</option>
                        <option value="#{request.contextPath}/ui/dnd/dataGrid.xhtml">DataGrid</option>
                        <option value="#{request.contextPath}/ui/dnd/dataTable.xhtml">DataTable</option>
                        <option value="#{request.contextPath}/ui/dnd/custom.xhtml">Custom</option>
                    </optgroup>
                    <optgroup label="Client Side Validation" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/csv/basic.xhtml">Basic</option>
                        <option value="#{request.contextPath}/ui/csv/bean.xhtml">Bean</option>
                        <option value="#{request.contextPath}/ui/csv/custom.xhtml">Custom</option>
                        <option value="#{request.contextPath}/ui/csv/event.xhtml">Event</option>
                    </optgroup>
                    <optgroup label="Dialog Framework" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/df/basic.xhtml">Basic</option>
                        <option value="#{request.contextPath}/ui/df/data.xhtml">Data</option>
                        <option value="#{request.contextPath}/ui/df/message.xhtml">Message</option>
                    </optgroup>
                    <optgroup label="Misc" class="LEVEL1">
                        <option value="#{request.contextPath}/ui/misc/blockUI.xhtml">BlockUI</option>
                        <option value="#{request.contextPath}/ui/misc/cache.xhtml">Cache</option>
                        <option value="#{request.contextPath}/ui/misc/captcha.xhtml">Captcha</option>
                        <option value="#{request.contextPath}/ui/misc/clock.xhtml">Clock</option>
                        <option value="#{request.contextPath}/ui/misc/collector.xhtml">Collector</option>
                        <option value="#{request.contextPath}/ui/misc/defaultCommand.xhtml">DefaultCommand</option>
                        <option value="#{request.contextPath}/ui/misc/effect.xhtml">Effect</option>
                        <option value="#{request.contextPath}/ui/misc/exceptionHandler.xhtml">ExceptionHandler</option>
                        <option value="#{request.contextPath}/ui/misc/feedReader.xhtml">FeedReader</option>
                        <option value="#{request.contextPath}/ui/misc/focus.xhtml">Focus</option>
                        <option value="#{request.contextPath}/ui/misc/hotkey.xhtml">Hotkey</option>
                        <option value="#{request.contextPath}/ui/misc/idleMonitor.xhtml">IdleMonitor</option>
                        <option value="#{request.contextPath}/ui/misc/log.xhtml">Log</option>
                        <option value="#{request.contextPath}/ui/misc/outputLabel.xhtml">OutputLabel</option>
                        <option value="#{request.contextPath}/ui/misc/printer.xhtml">Printer</option>
                        <option value="#{request.contextPath}/ui/misc/progressBar.xhtml">ProgressBar</option>
                        <option value="#{request.contextPath}/ui/misc/requestContext.xhtml">RequestContext</option>
                        <option value="#{request.contextPath}/ui/misc/resetInput.xhtml">ResetInput</option>
                        <option value="#{request.contextPath}/ui/misc/resizable.xhtml">Resizable</option>
                        <option value="#{request.contextPath}/ui/misc/separator.xhtml">Separator</option>
                        <option value="#{request.contextPath}/ui/misc/spacer.xhtml">Spacer</option>
                        <option value="#{request.contextPath}/ui/misc/spotlight.xhtml">Spotlight</option>
                        <option value="#{request.contextPath}/ui/misc/sticky.xhtml">Sticky</option>
                        <option value="#{request.contextPath}/ui/misc/terminal.xhtml">Terminal</option>
                        <option value="#{request.contextPath}/ui/misc/themeSwitcher.xhtml">ThemeSwitcher</option>
                        <option value="#{request.contextPath}/ui/misc/watermark.xhtml">Watermark</option>
                    </optgroup>
                    <option value="#{request.contextPath}/mobile/index.xhtml" class="LEVEL1">PFMobile</option>
                    <optgroup label="PFPush" class="LEVEL1">
                        <option value="#{request.contextPath}/push/counter.xhtml">Counter</option>
                        <option value="#{request.contextPath}/push/chat.xhtml">Chat</option>
                        <option value="#{request.contextPath}/push/notify.xhtml">Notify</option>
                        <option value="#{request.contextPath}/mobile/checkin.xhtml">Checkin</option>
                        <option value="#{request.contextPath}/push/viewparam.xhtml">ViewParam</option>
                        <option value="#{request.contextPath}/push/chart.xhtml">Chart</option>
                    </optgroup>
                    <option value="#{request.contextPath}/ui/misc/mockosx.xhtml" class="LEVEL1">PFMockOSX</option>
                </select>
            </div>
            <!-- header bar end-->

            <ui:insert name="content">
                
                <ui:insert name="subsubmenu"></ui:insert>
                
                <div class="ContentSideSections">
                    <div class="Content100 overHidden TextShadow">
                        <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock"><ui:insert name="title" /></span>
                        <span class="defaultText dispTable"><ui:insert name="description" />
                        </span>
                    </div>
                </div>

                <div class="ContentSideSections Implementation">
                    <ui:insert name="implementation" />
                </div>

                <div id="SourceContentSide" class="ContentSideSections Source">
                    <div class="Content100 overHidden TextShadow">
                        <span class="defaultText">
                            <span class="fontSize18 logoBlueText">
                                <ui:insert name="source" />
                            </span>
                        </span>
                    </div>
                </div>
           
            </ui:insert>
            
            <!-- footer start-->
            <div class="ContentSideSections">
                <span class="floatLeft fontSize14 gray"><a href="http://www.primetek.com.tr">PrimeTek</a>, Copyright &copy; 2014<br />All rights reserved.</span>
                <span class="floatRight fontSize14 gray">Running #{build.primefacesVersion} on #{build.jsfVersion}.</span>
                <div style="clear:both" />
            </div>
            <!-- footer end-->
            
        </div>
    </div>
    
    </div>
    <!-- PC CONTENT END-->
    
     <ui:insert name="status">
        <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">
            <f:facet name="start">
                <p:graphicImage name="main/images/loader.gif" />
            </f:facet>

            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>
    </ui:insert>
    
    <ui:insert name="highlight">
        <script language="javascript" src="#{request.contextPath}/resources/main/js/sh.js"></script>
        <script language="javascript">
            SyntaxHighlighter.all();
        </script>
    </ui:insert>
    
    <ui:insert name="body"></ui:insert>
</h:body>
</html>
