<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="./template.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .value {
                font-weight: bold;
            }
            
            .ui-datatable {
                margin-bottom: 25px
            }
            
            .ui-datatable .ui-datatable-footer {
                text-align:left;
            }
            
            .ui-datalist ul {
                padding: 0 0 0 10px;
                margin: 5px 0;
            }
            
            .ui-datatable .ui-button-icon-only .ui-button-text {
                padding: 0;
                line-height: 1.2;
            }
        </style>
	</ui:define>
    
    <ui:define name="title">
        DataTable - <span class="subitem">Selection</span>
    </ui:define>

    <ui:define name="description">
        There are various ways to select rows from the datatable.
    </ui:define>

    <ui:define name="implementation">
        
        <h:form id="form">
            <p:growl id="msgs" showDetail="true" />

            <p:dataTable id="basicDT" var="car" value="#{dtSelectionView.cars1}">
                <f:facet name="header">
                    Basic
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
                <p:column style="width:4%;text-align: center">
                     <p:commandButton update=":form:carDetail" oncomplete="PF('carDialog').show()" icon="ui-icon-search" title="View">
                        <f:setPropertyActionListener value="#{car}" target="#{dtSelectionView.selectedCar}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            
            <p:dataTable id="singleDT" var="car" value="#{dtSelectionView.cars2}" selectionMode="single" selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}">
                <f:facet name="header">
                    Single with Row Click
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="singleDT" update=":form:carDetail" icon="ui-icon-search" value="View" oncomplete="PF('carDialog').show()" />
                </f:facet>
            </p:dataTable>
            
            <p:dataTable id="eventsDT" var="car" value="#{dtSelectionView.cars3}" selectionMode="single" selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}">
                <f:facet name="header">
                    Select Events
                </f:facet>
                <p:ajax event="rowSelect" listener="#{dtSelectionView.onRowSelect}" update=":form:msgs" />
                <p:ajax event="rowUnselect" listener="#{dtSelectionView.onRowUnselect}" update=":form:msgs" />
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
            </p:dataTable>
            
            <p:dataTable id="multipleDT" var="car" value="#{dtSelectionView.cars4}" selectionMode="multiple" selection="#{dtSelectionView.selectedCars}" rowKey="#{car.id}">
                <f:facet name="header">
                    Multiple with Meta and Shift keys
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="multipleDT" update=":form:multiCarDetail" icon="ui-icon-search" value="View" oncomplete="PF('multiCarDialog').show()" />
                </f:facet>
            </p:dataTable>
            
            <p:dataTable id="radioDT" var="car" value="#{dtSelectionView.cars5}" selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}">
                <f:facet name="header">
                    RadioButton
                </f:facet>
                <p:column selectionMode="single" style="width:2%;text-align:center"/>
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="radioDT" update=":form:carDetail" icon="ui-icon-search" value="View" oncomplete="PF('carDialog').show()" />
                </f:facet>
            </p:dataTable>
            
            <p:dataTable id="checkboxDT" var="car" value="#{dtSelectionView.cars6}" selection="#{dtSelectionView.selectedCars}" rowKey="#{car.id}" style="margin-bottom:0">
                <f:facet name="header">
                    Checkbox
                </f:facet>
                <p:column selectionMode="multiple" style="width:2%;text-align:center"/>
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="checkboxDT" update=":form:multiCarDetail" icon="ui-icon-search" value="View" oncomplete="PF('multiCarDialog').show()" />
                </f:facet>
            </p:dataTable>
            
            <p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="carDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty dtSelectionView.selectedCar}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="demo/images/car/#{dtSelectionView.selectedCar.brand}-big.gif"/> 
                        </f:facet>
                        
                        <h:outputText value="Id:" />
                        <h:outputText value="#{dtSelectionView.selectedCar.id}" />

                        <h:outputText value="Year" />
                        <h:outputText value="#{dtSelectionView.selectedCar.year}" />

                        <h:outputText value="Color:" />
                        <h:outputText value="#{dtSelectionView.selectedCar.color}" style="color:#{dtSelectionView.selectedCar.color}"/>
                    
                        <h:outputText value="Price" />
                        <h:outputText value="\$#{dtSelectionView.selectedCar.price}" />
                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
            <p:dialog header="Selected Cars" widgetVar="multiCarDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="200">
                <p:outputPanel id="multiCarDetail" style="text-align:center;">
                    <ui:repeat value="#{dtSelectionView.selectedCars}" var="car">
                        <h:outputText value="#{car.id} - #{car.brand}" style="display:block"/>
                    </ui:repeat>
                </p:outputPanel>
            </p:dialog>
        </h:form>
        
    </ui:define>

    <ui:define name="source">
        <p:tabView>
            <p:tab title="selection.xhtml">
                <pre name="code" class="brush:xml">
&lt;h:form id="form"&gt;
    &lt;p:growl id="msgs" showDetail="true" /&gt;

    &lt;p:dataTable id="basicDT" var="car" value="\#{dtSelectionView.cars1}"&gt;
        &lt;f:facet name="header"&gt;
            Basic
        &lt;/f:facet&gt;
        &lt;p:column headerText="Id"&gt;
            &lt;h:outputText value="\#{car.id}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Year"&gt;
            &lt;h:outputText value="\#{car.year}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Brand"&gt;
            &lt;h:outputText value="\#{car.brand}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Color"&gt;
            &lt;h:outputText value="\#{car.color}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column style="width:4%;text-align: center"&gt;
             &lt;p:commandButton update=":form:carDetail" oncomplete="PF('carDialog').show()" icon="ui-icon-search" title="View"&gt;
                &lt;f:setPropertyActionListener value="\#{car}" target="\#{dtSelectionView.selectedCar}" /&gt;
            &lt;/p:commandButton&gt;
        &lt;/p:column&gt;
    &lt;/p:dataTable&gt;

    &lt;p:dataTable id="singleDT" var="car" value="\#{dtSelectionView.cars2}" selectionMode="single" selection="\#{dtSelectionView.selectedCar}" rowKey="\#{car.id}"&gt;
        &lt;f:facet name="header"&gt;
            Single with Row Click
        &lt;/f:facet&gt;
        &lt;p:column headerText="Id"&gt;
            &lt;h:outputText value="\#{car.id}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Year"&gt;
            &lt;h:outputText value="\#{car.year}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Brand"&gt;
            &lt;h:outputText value="\#{car.brand}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Color"&gt;
            &lt;h:outputText value="\#{car.color}" /&gt;
        &lt;/p:column&gt;
        &lt;f:facet name="footer"&gt;
            &lt;p:commandButton process="singleDT" update=":form:carDetail" icon="ui-icon-search" value="View" oncomplete="PF('carDialog').show()" /&gt;
        &lt;/f:facet&gt;
    &lt;/p:dataTable&gt;

    &lt;p:dataTable id="eventsDT" var="car" value="\#{dtSelectionView.cars3}" selectionMode="single" selection="\#{dtSelectionView.selectedCar}" rowKey="\#{car.id}"&gt;
        &lt;f:facet name="header"&gt;
            Select Events
        &lt;/f:facet&gt;
        &lt;p:ajax event="rowSelect" listener="\#{dtSelectionView.onRowSelect}" update=":form:msgs" /&gt;
        &lt;p:ajax event="rowUnselect" listener="\#{dtSelectionView.onRowUnselect}" update=":form:msgs" /&gt;
        &lt;p:column headerText="Id"&gt;
            &lt;h:outputText value="\#{car.id}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Year"&gt;
            &lt;h:outputText value="\#{car.year}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Brand"&gt;
            &lt;h:outputText value="\#{car.brand}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Color"&gt;
            &lt;h:outputText value="\#{car.color}" /&gt;
        &lt;/p:column&gt;
    &lt;/p:dataTable&gt;

    &lt;p:dataTable id="multipleDT" var="car" value="\#{dtSelectionView.cars4}" selectionMode="multiple" selection="\#{dtSelectionView.selectedCars}" rowKey="\#{car.id}"&gt;
        &lt;f:facet name="header"&gt;
            Multiple with Meta and Shift keys
        &lt;/f:facet&gt;
        &lt;p:column headerText="Id"&gt;
            &lt;h:outputText value="\#{car.id}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Year"&gt;
            &lt;h:outputText value="\#{car.year}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Brand"&gt;
            &lt;h:outputText value="\#{car.brand}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Color"&gt;
            &lt;h:outputText value="\#{car.color}" /&gt;
        &lt;/p:column&gt;
        &lt;f:facet name="footer"&gt;
            &lt;p:commandButton process="multipleDT" update=":form:multiCarDetail" icon="ui-icon-search" value="View" oncomplete="PF('multiCarDialog').show()" /&gt;
        &lt;/f:facet&gt;
    &lt;/p:dataTable&gt;

    &lt;p:dataTable id="radioDT" var="car" value="\#{dtSelectionView.cars5}" selection="\#{dtSelectionView.selectedCar}" rowKey="\#{car.id}"&gt;
        &lt;f:facet name="header"&gt;
            RadioButton
        &lt;/f:facet&gt;
        &lt;p:column selectionMode="single" style="width:2%;text-align:center"/&gt;
        &lt;p:column headerText="Id"&gt;
            &lt;h:outputText value="\#{car.id}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Year"&gt;
            &lt;h:outputText value="\#{car.year}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Brand"&gt;
            &lt;h:outputText value="\#{car.brand}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Color"&gt;
            &lt;h:outputText value="\#{car.color}" /&gt;
        &lt;/p:column&gt;
        &lt;f:facet name="footer"&gt;
            &lt;p:commandButton process="radioDT" update=":form:carDetail" icon="ui-icon-search" value="View" oncomplete="PF('carDialog').show()" /&gt;
        &lt;/f:facet&gt;
    &lt;/p:dataTable&gt;

    &lt;p:dataTable id="checkboxDT" var="car" value="\#{dtSelectionView.cars6}" selection="\#{dtSelectionView.selectedCars}" rowKey="\#{car.id}" style="margin-bottom:0"&gt;
        &lt;f:facet name="header"&gt;
            Checkbox
        &lt;/f:facet&gt;
        &lt;p:column selectionMode="multiple" style="width:2%;text-align:center"/&gt;
        &lt;p:column headerText="Id"&gt;
            &lt;h:outputText value="\#{car.id}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Year"&gt;
            &lt;h:outputText value="\#{car.year}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Brand"&gt;
            &lt;h:outputText value="\#{car.brand}" /&gt;
        &lt;/p:column&gt;
        &lt;p:column headerText="Color"&gt;
            &lt;h:outputText value="\#{car.color}" /&gt;
        &lt;/p:column&gt;
        &lt;f:facet name="footer"&gt;
            &lt;p:commandButton process="checkboxDT" update=":form:multiCarDetail" icon="ui-icon-search" value="View" oncomplete="PF('multiCarDialog').show()" /&gt;
        &lt;/f:facet&gt;
    &lt;/p:dataTable&gt;

    &lt;p:dialog header="Car Info" widgetVar="carDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false"&gt;
        &lt;p:outputPanel id="carDetail" style="text-align:center;"&gt;
            &lt;p:panelGrid  columns="2" rendered="\#{not empty dtSelectionView.selectedCar}" columnClasses="label,value"&gt;
                &lt;f:facet name="header"&gt;
                    &lt;p:graphicImage name="demo/images/car/\#{dtSelectionView.selectedCar.brand}-big.gif"/&gt; 
                &lt;/f:facet&gt;

                &lt;h:outputText value="Id:" /&gt;
                &lt;h:outputText value="\#{dtSelectionView.selectedCar.id}" /&gt;

                &lt;h:outputText value="Year" /&gt;
                &lt;h:outputText value="\#{dtSelectionView.selectedCar.year}" /&gt;

                &lt;h:outputText value="Color:" /&gt;
                &lt;h:outputText value="\#{dtSelectionView.selectedCar.color}" style="color:\#{dtSelectionView.selectedCar.color}"/&gt;

                &lt;h:outputText value="Price" /&gt;
                &lt;h:outputText value="\$\#{dtSelectionView.selectedCar.price}" /&gt;
            &lt;/p:panelGrid&gt;
        &lt;/p:outputPanel&gt;
    &lt;/p:dialog&gt;

    &lt;p:dialog header="Selected Cars" widgetVar="multiCarDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="200"&gt;
        &lt;p:outputPanel id="multiCarDetail" style="text-align:center;"&gt;
            &lt;ui:repeat value="\#{dtSelectionView.selectedCars}" var="car"&gt;
                &lt;h:outputText value="\#{car.id} - \#{car.brand}" style="display:block"/&gt;
            &lt;/ui:repeat&gt;
        &lt;/p:outputPanel&gt;
    &lt;/p:dialog&gt;
&lt;/h:form&gt;
                </pre>
            </p:tab>

            <p:tab title="SelectionView.java">
                <pre name="code" class="brush:java">
package org.primefaces.showcase.view.datatable.data;

import java.io.Serializable;
import java.util.List;
import javax.annotation.PostConstruct;
import javax.faces.application.FacesMessage;
import javax.faces.bean.ManagedBean;
import javax.faces.bean.ManagedProperty;
import javax.faces.bean.ViewScoped;
import javax.faces.context.FacesContext;
import org.primefaces.event.SelectEvent;
import org.primefaces.event.UnselectEvent;
import org.primefaces.showcase.domain.Car;
import org.primefaces.showcase.service.CarService;

@ManagedBean(name="dtSelectionView")
@ViewScoped
public class SelectionView implements Serializable {
    
    private List&lt;Car&gt; cars1;
    private List&lt;Car&gt; cars2;
    private List&lt;Car&gt; cars3;
    private List&lt;Car&gt; cars4;
    private List&lt;Car&gt; cars5;
    private List&lt;Car&gt; cars6;
    private Car selectedCar;
    private List&lt;Car&gt; selectedCars;
   
    @ManagedProperty("\#{carService}")
    private CarService service;
    
    @PostConstruct
    public void init() {
        cars1 = service.createCars(10);
        cars2 = service.createCars(10);
        cars3 = service.createCars(10);
        cars4 = service.createCars(10);
        cars5 = service.createCars(10);
        cars6 = service.createCars(10);
    }

    public List&lt;Car&gt; getCars1() {
        return cars1;
    }

    public List&lt;Car&gt; getCars2() {
        return cars2;
    }

    public List&lt;Car&gt; getCars3() {
        return cars3;
    }

    public List&lt;Car&gt; getCars4() {
        return cars4;
    }

    public List&lt;Car&gt; getCars5() {
        return cars5;
    }

    public List&lt;Car&gt; getCars6() {
        return cars6;
    }
    
    public void setService(CarService service) {
        this.service = service;
    }

    public Car getSelectedCar() {
        return selectedCar;
    }

    public void setSelectedCar(Car selectedCar) {
        this.selectedCar = selectedCar;
    }

    public List&lt;Car&gt; getSelectedCars() {
        return selectedCars;
    }

    public void setSelectedCars(List&lt;Car&gt; selectedCars) {
        this.selectedCars = selectedCars;
    }
    
    public void onRowSelect(SelectEvent event) {
        FacesMessage msg = new FacesMessage("Car Selected", ((Car) event.getObject()).getId());
        FacesContext.getCurrentInstance().addMessage(null, msg);
    }

    public void onRowUnselect(UnselectEvent event) {
        FacesMessage msg = new FacesMessage("Car Unselected", ((Car) event.getObject()).getId());
        FacesContext.getCurrentInstance().addMessage(null, msg);
    }
}
                </pre>
            </p:tab>
            
            <p:tab title="CarService.java">
                <pre name="code" class="brush:java">
package org.primefaces.showcase.service;

import java.util.ArrayList;
import java.util.List;
import java.util.UUID;
import javax.faces.bean.ApplicationScoped;
import javax.faces.bean.ManagedBean;
import org.primefaces.showcase.domain.Car;

@ManagedBean(name = "carService")
@ApplicationScoped
public class CarService {
    
    private final static String[] colors;
	
	private final static String[] brands;
    
    static {
		colors = new String[10];
		colors[0] = "Black";
		colors[1] = "White";
		colors[2] = "Green";
		colors[3] = "Red";
		colors[4] = "Blue";
		colors[5] = "Orange";
		colors[6] = "Silver";
		colors[7] = "Yellow";
		colors[8] = "Brown";
		colors[9] = "Maroon";
		
		brands = new String[10];
		brands[0] = "BMW";
		brands[1] = "Mercedes";
		brands[2] = "Volvo";
		brands[3] = "Audi";
		brands[4] = "Renault";
		brands[5] = "Fiat";
		brands[6] = "Volkswagen";
		brands[7] = "Honda";
		brands[8] = "Jaguar";
		brands[9] = "Ford";
	}
    
    public List&lt;Car&gt; createCars(int size) {
        List&lt;Car&gt; list = new ArrayList&lt;Car&gt;();
		for(int i = 0 ; i &lt; size ; i++) {
			list.add(new Car(getRandomId(), getRandomBrand(), getRandomYear(), getRandomColor(), getRandomPrice(), getRandomSoldState()));
        }
        
        return list;
    }
    
    private String getRandomId() {
		return UUID.randomUUID().toString().substring(0, 8);
	}
    
    private int getRandomYear() {
		return (int) (Math.random() * 50 + 1960);
	}
	
	private String getRandomColor() {
		return colors[(int) (Math.random() * 10)];
	}
	
	private String getRandomBrand() {
		return brands[(int) (Math.random() * 10)];
	}
    
    public int getRandomPrice() {
		return (int) (Math.random() * 100000);
	}
    
    public boolean getRandomSoldState() {
		return (Math.random() &gt; 0.5) ? true: false;
	}

    public List&lt;String&gt; getColors() {
        return Arrays.asList(colors);
    }
    
    public List&lt;String&gt; getBrands() {
        return Arrays.asList(brands);
    }
}
                </pre>
            </p:tab>
            
            <p:tab title="Documentation" titleStyleClass="tab-doc docslide-145" />
        </p:tabView>

    </ui:define>

</ui:composition>